:root{
--button-stail-color: #F4F4FD;
--button-stail-color-2: #404BBF;
--button-stail-color-3: #FFFFFF;
--button-stail-color-4--web-1: #4D5AE5;
--background-picture-1: #E7E9FC;
--background-picture: #FFFFFF;
--webstudio-backround: #2E2F42;
--fazer-litl-text: #434455;


}
body{
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color:#FFFFFF;
  
  }

.web-stail-1{
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color:var(--button-stail-color-4--web-1);
  text-decoration: none
}
.accent{
  color: var(--webstudio-backround);
}
.list-studio{
  
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  list-style: none;
}
.list-studio>a:hover,
a:focus
{
color: var(--button-stail-color-2);
}
.link{
  text-decoration: none;
 
}
address{ 
  font-style: normal
}
.kontakt-head
 {
font-style: normal;
list-style: none;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--webstudio-backround);


}
.kontakt-head a:hover,
a:focus{
color:var(--button-stail-color-2);
}
.kontakt-head>a{
  color: var(--fazer-litl-text);
}

.stail-button-list{
  list-style: none;

}
.pictures {
  background-color: #F4F4FD;
  
}
.Lorem{
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;

}
.staile-button {
  color: var(--button-stail-color-4--web-1);
  background-color: var(--button-stail-color);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  
}
.staile-button:hover,
.staile-button:focus{
  color: var(--background-picture);
  background-color: #404BBF;
  

}
.portfolio ul{
list-style: none;
}
.piktures-list{
list-style: none
}
.staile-button-next{
  color: var(--button-stail-color-4--web-1);
    background-color: var(--button-stail-color);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}
.staile-button-next:hover,
.staile-button-next:focus {
  color: var(--background-picture);
  background-color: #404BBF;
  cursor: pointer;

}
 
.piktures-main-head {
  background-color: var(--webstudio-backround);
  text-decoration: none; 
}

.piktures{
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: #ffffff;

}

.piktures-compani{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--webstudio-backround);



}
.text-compani{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--fazer-litl-text);

}
.compani-piktures-body{
  font-size: 20px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  
  color: var(--webstudio-backround);
  list-style: none;
}









.web-stail-2{
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--button-stail-color-4--web-1);
  text-decoration: none;

}
.footer-text{
  letter-spacing: 0.02em
}
.stail-web-studio{
  color: var(--button-stail-color);
}







footer{
  background-color: var(--webstudio-backround);
}
