:root{
--button-stail-color: #F4F4FD;
--button-stail-color-2: #404BBF;
--button-stail-color-3: #FFFFFF;
--button-stail-color-4--web-1: #4D5AE5;
--background-picture-1: #E7E9FC;
--background-picture: #FFFFFF;
--webstudio-backround: #2E2F42;
--fazer-litl-text: #434455;


}
body{
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color:#FFFFFF;
  
  }
.effective {
  background-color:var(--webstudio-backround);
}
.effective-non{
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: #ffffff;
}
.non-button{
background-color: #4D5AE5;
font-family: "Roboto", sans-serif;
font-weight: 500;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
color: #ffffff;
cursor: pointer
}
.non-button .button:hover,
.non-button .button:focus
{
background-color: #404BBF;
}
.lorem .list {
  list-style: none;
}
.Strategy {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--webstudio-backround);
}
.Our{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--fazer-litl-text);

}
.tWha {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--webstudio-backround);
}
.tWha .list{
  list-style: none
}
.Team{
background-color: #F4F4FD;
}
.our {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--webstudio-backround);
}
.our .list{
list-style: none;
}
.Tom{
  background-color: #ffffff;
}
.footer-text{
  line-height: 1.5;
  color: var(--button-stail-color);
}
.web-stail {
  color: var(--webstudio-backround);

}
nav .list{
  list-style: none
}
.list-studio{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--webstudio-backround);
}
.list-studio .link {
  text-decoration: none;
}
.list-studio a:hover,
.list-studio a:focus
{
color: #404bbf;
}
.kontakt-head a {
  list-style: none;
}
.kontakt-head{
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--fazer-litl-text);

}
.kontakt-head .link{
text-decoration: none;
}