:root{
--button-stail-color: #F4F4FD;
--button-stail-color-2: #404BBF;
--button-stail-color-3: #FFFFFF;
--button-stail-color-4--web-1: #4D5AE5;
--background-picture-1: #E7E9FC;
--background-picture: #FFFFFF;
--webstudio-backround: #2E2F42;
--fazer-litl-text: #434455;


}
body{
  font-family: 'Roboto', sans-serif;
  background-color:#FFFFFF;
  color: #434455;
  }

.web-stail-1{
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color:var(--button-stail-color-4--web-1);

}
.web-stail {
  color: var(--webstudio-backround);
}
.list{
  list-style: none;
}
.list-studio{
  font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--webstudio-backround);
}
.list-studio >link
{
text-decoration: none;
}
.list-studio>a:hover,
a:focus
{
color: var(--button-stail-color-2);
}
.link{
  text-decoration: none;
}
.kontakt-head {
font-style: normal;


}



.stail-button-list{
  list-style: none;

}
.pictures {
  background-color: #F4F4FD;

}

.staile-button {
  color: var(--button-stail-color-4--web-1);
  background-color: var(--button-stail-color);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.staile-button:hover,
.staile-button:focus{
  color: var(--background-picture);
  background-color: #404BBF;
  cursor: pointer;

}
.staile-button-next{
  color: var(--button-stail-color-4--web-1);
    background-color: var(--button-stail-color);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}
.staile-button-next:hover,
.staile-button-next:focus {
  color: var(--background-picture);
  background-color: #404BBF;
  cursor: pointer;

}
 
.piktures-main-head {
  background-color: var(--webstudio-backround);
  text-decoration: none; 
}

.piktures{
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: #ffffff;

}

.piktures-main-stail{
font-weight: 500;
font-size: 56px;
line-height: 0.7;
text-align: center;
letter-spacing: 0.02em;
color: var(--background-picture);


}
.piktures-main-stail-text{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--fazer-litl-text);

}
main p {
 color: var(--fazer-litl-text);
    }


.pictures h3{
  font-size: 20px;
}


.pictures li{
  background-color: var(--background-picture-1);
}
.footer-staile {

}
.web-stail-2{
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--button-stail-color-4--web-1);
  text-decoration: none;

}
.stail-web-studio{
  color: var(--button-stail-color);
}






.stail-web {
  color: var(--background-picture);
}
footer{
  background-color: var(--webstudio-backround);
}
p{
  color: var(--button-stail-color);
  text-align: left;
}